@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models

<h2>Stylist Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.StylistName): @Html.DisplayFor(model => model.StylistName)</h3>

@if (@Model.Clients.Count == 0)
{
  <h3>No Clients have been added.</h3>
  <p>@Html.ActionLink($"Add new Client for this stylist?", "Create", "Clients")</p>
} 
else
{
  <ul>
  @foreach (Client client in Model.Clients)
  {
    <li>@Html.ActionLink($"{client.ClientName}", "Details", "Clients", new { clientId = client.ClientId })</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>